@using PortfolioManagerWASM.Models
<div class="h3">Financial Assets</div>



<!--Financial Assets Table-->
<table class="table table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Icon</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>

        @foreach (FinancialAsset asset in FinancialAssets)
        {
            <tr>
                <td>@asset.Name</td>
                <td><img class="rounded-icon" src="@asset.IconPath" alt="Financial Asset Icon"></td>
                <td>Description</td>
                <td class="text-center">
                    <button class="btn collapsed btn-primary"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse-@asset.AssetId"
                            aria-expanded="false"
                            aria-controls="collapse-@asset.AssetId">
                        Edit
                    </button>
                </td>
            </tr>
            <tr class="collapse" id="collapse-@asset.AssetId">
                <td colspan="4">
                    <div class="accordion-body">

                        <!-- Editable Form -->
                        <EditForm Model="@asset">
                            <div>
                                <label>Name:</label>
                                <InputText @bind-Value="asset.Name" />
                            </div>


                            <button class="btn btn-success mt-2" @onclick="() => OnUpdateSubmit(asset)">Save Changes</button>
                        </EditForm>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="row">
    <div class="col-auto">
        <button class="btn btn-primary">Save</button>
    </div>
</div>

