@using PortfolioManagerAPI.Helpers
@using PortfolioManagerWASM.Models

<div class="container">
    <div class="row">

        @{
            foreach (var prop in typeof(Asset).GetProperties().Where(p => p.PropertyType == typeof(string)))
            {
                <p>@prop.Name: @prop.GetValue(ActiveAsset)</p>
            }
        }
    </div>
    <div class="row">
        <div class="col">
            @if (ActiveAsset.Icon != null && ActiveAsset.Icon.Length > 0)
            {
                <img src="@TypeConverter.GetBase64String(ActiveAsset.Icon)" alt="Icon" class="img-fluid asset-icon">
            }
            else
            {
                <img src="icons/bar-chart-line.svg" />
            }
        </div>
    </div>
</div>

