@using Microsoft.AspNetCore.Authorization
@using PortfolioManagerAPI.Helpers
@using PortfolioManagerWASM.Models
@using PortfolioManagerWASM.Services.IService
@inject IUserService userService
@inject IAssetService assetService
@attribute [Authorize]

@page "/admin"
<PageTitle>Community</PageTitle>

<h3>Admin</h3>

<div class="container">

    <div class="row">
        <div class="col-auto dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Assets
            </button>

            <ul class="dropdown-menu">
                <!--Asset List-->
                @for (int i = 0; i < AllAssets.Count; i++)
                {
                    int index = i;
                    <button @onclick="()=>SelectAsset(index)" type="button" class="list-group-item list-group-item-action d-flex justify-content-between">@AllAssets[index].Name</button>
                }
            </ul>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" @onclick="ChangeView">
                @if (AdminView == AdminView.View)
                {
                    <span>Edit</span>
                }
                else
                {
                    <span>View</span>
                }
            </button>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" @onclick="DeleteAssetAsync" disabled="@(AdminView != AdminView.View)">Delete</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" @onclick="ToCreateView">Add</button>
        </div>
    </div>

    @switch (AdminView)
    {
        case AdminView.View:
            <div class="row">
                <AdminViewComponent ActiveAsset="ActiveAsset" />
            </div>
            break;
        case AdminView.Edit:
            <div>
                <h3>Edit asset</h3>
                <FormAssetFormComponent FormAsset="ActiveAsset" FormAssetAsyncDelegate="UpdateAssetAsyncDelegate" />
            </div>
            break;
        case AdminView.Create:
            <div>
                <h3>Create asset</h3>
                <FormAssetFormComponent FormAsset="AssetCreate" FormAssetAsyncDelegate="CreateAssetAsyncDelegate" />
            </div>
            break;
        default:
            break;
    }

</div>


