@using PortfolioManagerAPI.Helpers

<div class="container">
    <EditForm Model="@FormAsset" OnValidSubmit="UpdateUserAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label for="name">Name:</label>
            <InputText id="name" @bind-Value="FormAsset.Name" />
        </div>
        <div class="row">
            <div class="col-auto">
                @if (FormAsset.Icon != null && FormAsset.Icon.Length > 0)
                {
                    <div>
                        <img src="@TypeConverter.GetBase64String(FormAsset.Icon)" alt="Icon" class="img-fluid asset-icon">
                    </div>
                }
                else
                {
                    <div>
                        <img src="icons/bar-chart-line.svg" />
                    </div>
                }
            </div>
            <div class="col">
                <label for="avatar">Icon:</label>
                <InputFile id="avatar" OnChange="FileUploadAsync" />
            </div>
        </div>

        <button type="submit">Save changes</button>
    </EditForm>
</div>

