<nav class="navbar justify-content-around">
    <div class="row">
        <div class="col align-content-center m-0 p-0">
            <button type="button" class="btn btn-primary rounded-circle" title="Branding">
                <img src="icons/bar-chart-line.svg" alt="BrandIcon">
            </button>
        </div>
        <div class="col ms-2 p-0">
            <p class="m-0 p-0">Portfolio</p>
            <p class="m-0 p-0">Manager</p>
        </div>
    </div>

    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <img src="icons/house.svg" alt="HomeIcon">
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="graphs" Match="NavLinkMatch.Prefix">
                <img src="icons/graph-up.svg" alt="GraphsIcon">
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="community" Match="NavLinkMatch.Prefix">
                <img src="icons/people.svg" alt="CommunityIcon">
            </NavLink>
        </li>
    </ul>

    <button type="button" class="btn btn-primary rounded-circle">
        <img src="icons/person-circle.svg" alt="BrandIcon">
    </button>
</nav>

@code {

}
