
<h3>Sign in</h3>
<div class="container">
    <EditForm Model="@newUser" OnValidSubmit="@RegisterNewUserAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label for="name">Name:</label>
            <InputText id="name" @bind-Value="newUser.Name" />
        </div>
        <div>
            <label for="password">Password:</label>
            <InputText type="password" id="password" @bind-Value="newUser.Password" />
        </div>
        <div>
            <label for="email">Email:</label>
            <InputText id="email" @bind-Value="newUser.Email" />
        </div>
        <div>
            <label for="avatar">Avatar:</label>
            <InputFile id="avatar" OnChange="FileUploadAsync" />
        </div>


        <button type="submit">Sign In</button>
    </EditForm>

</div>


