@using Microsoft.AspNetCore.Authorization
@using PortfolioManagerWASM.Models
@using PortfolioManagerWASM.Services.IService
@inject IUserService userService
@inject IAssetService assetService
@attribute [Authorize]

@page "/"
@page "/home"
<PageTitle>Home</PageTitle>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Registration Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@User.Name</td>
            <td>@User.Email</td>
            <td>@User.RegistrationDate</td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-danger" onclick="@Logout">
    Logout
</button>
